@page
@model GalleryDatabase.Areas.Identity.Pages.Account.ExternalLoginFailedModel
@{
    ViewData["Title"] = "External Login Failed";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="text-danger">To try sign-in again, click on login button located at top of the page.</p>
